<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script
      src="https://kit.fontawesome.com/64d58efce2.js"
      crossorigin="anonymous"
    ></script>
    <script src="https://cdn.tailwindcss.com"></script>
    <link rel="stylesheet" href="/css/login.css" />
    <title>Login</title>
  </head>
  <body>
    <div class="container">
      <div class="flex justify-center mt-16">
        <h1 class="text-6xl font-serif absolute z-10" id="heading">
          <span class="font-bold mr-1" style="color: rgb(85, 196, 173)"
            >Career </span
          ><span class="ml-3 font-bold" style="color: rgb(232, 64, 58)"
            >Fasten</span
          >
        </h1>
      </div>
      <div class="forms-container">
        <div class="signin-signup">
          <form action="/login" class="sign-in-form" method="post">
            <h2 class="title text-4xl mb-5 font-medium">Student Login</h2>
            <div class="input-field">
              <i class="fas fa-user"></i>
              <input
                type="text"
                placeholder="use 4mc22cs415"
                name="usn"
                required
              />
            </div>
            <div class="input-field">
              <i class="fas fa-lock"></i>
              <input
                type="text"
                placeholder="use 8-10-2003"
                name="dateOfBirth"
                required
              />
            </div>
            <input type="submit" value="Login" class="btn solid" />
          </form>
          <form action="/admin-login" class="sign-up-form" method="post">
            <h2 class="title text-4xl mb-5 font-medium">Admin Login</h2>
            <div class="input-field">
              <i class="fas fa-user"></i>
              <input
                type="text"
                placeholder="use admin123"
                name="adminID"
                required
              />
            </div>
            <div class="input-field">
              <i class="fas fa-lock"></i>
              <input
                type="password"
                placeholder="use adminpassword123"
                name="password"
                required
              />
            </div>
            <input type="submit" class="btn" value="Login" />
          </form>
        </div>
      </div>

      <div class="panels-container">
        <div class="panel left-panel">
          <div class="content">
            <h1 class="title text-4xl mb-5 font-bold text-white">
              Admin Login
            </h1>
            <br />
            <button class="btn transparent" id="sign-up-btn">Sign in</button>
          </div>
        </div>
        <div class="panel right-panel">
          <div class="content">
            <h1 class="title text-4xl mb-5 font-bold text-white">
              Student Login
            </h1>
            <br />
            <button class="btn transparent" id="sign-in-btn">Sign in</button>
          </div>
        </div>
      </div>
    </div>

    <script>
      const sign_in_btn = document.querySelector("#sign-in-btn");
      const sign_up_btn = document.querySelector("#sign-up-btn");
      const container = document.querySelector(".container");

      sign_up_btn.addEventListener("click", () => {
        container.classList.add("sign-up-mode");
      });

      sign_in_btn.addEventListener("click", () => {
        container.classList.remove("sign-up-mode");
      });
    </script>
  </body>
</html>
